{
  "extends": "@awesome-code-style",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "header/header": [2, "block", { "pattern": "Copyright [0-9-]+ Imply Data, Inc\\." }, 2]
  }
}
